@page "/counter/{InitialCount:int?}"
@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>@InitialCount</p>

@if (currentCount > 3)
{
    <p>You did it</p>
}

<ol>
    @for (var i = 0; i < currentCount; i++)
    {
        <li>clicked</li>
    }
</ol>

@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        currentCount = InitialCount;
    }

    [Parameter]
    public int IncrementAmount { get; set; } = 1;
    [Parameter]
    public int InitialCount { get; set; }

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
