@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hi!</h1>

Welcome to your new app.

<div class="mt-3">
    <input @oninput="OnInput" />
    <p>@text</p>
</div>

<div class="bg-info" @onmouseover="MouseOver" @onmouseout="MouseOut">@divText</div>

@{
    var amount = 2 * 2;
}

<Counter IncrementAmount="amount" />

<Weather />

@code {
    string text = "";
    string divText = "Mouse Over";

    private void OnInput(ChangeEventArgs e) => text = (string)e.Value!;
    private void MouseOver(MouseEventArgs e) => divText = "Mouse Over";
    private void MouseOut(MouseEventArgs e) => divText = "Mouse Out";

}